MoneyConv/Connected Services/MoneyConvSrv/MoneyConv.Common.Interfaces.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MoneyConv.Common.Interfaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MoneyConv.Common.Interfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ApiResponseOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ApiResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MoneyConv.Common.Interfaces" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApiResponseOfstring" nillable="true" type="tns:ApiResponseOfstring" />
</xs:schema>