MoneyConv/Connected Services/MoneyConvSrv/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MoneyConv.Common.Interfaces" />
  <xs:element name="ConvertNumberToWords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currencyValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertNumberToWordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MoneyConv.Common.Interfaces" minOccurs="0" name="ConvertNumberToWordsResult" nillable="true" type="q1:ApiResponseOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>